{% extends "base.html" %}

{% block main %}

{% include 'flash_messages.html' %}
<div>
    {% for prop in props %}
        <div class = "property_box">
            <img class ="images" src = "{{ url_for('get_pic', filename= prop[8] ) }}" alt = "Try again another time"/>
            <h5>{{prop[1]}}</h5>
            <p class = 'location'>{{prop[4]}}</p>

            <div>
                <p class = 'money'>{{prop[6]}}</p>
            </div>

            <a href="{{url_for('propview', propertyid = prop[0])}}" class = fakebutton>View Property</a>
            
            
        </div>
    {% endfor %}
</div>
{%endblock%}